doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Lịch sử đo thời tiết
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css")
    link(rel="stylesheet" href="/css/history2.css") 
    link(rel="stylesheet" href="/css/footer.css")
    link(rel="stylesheet" href="/css/header.css")
  body
    .wrapper
      header
        include ./header/header.pug
    .container.mt-5
      h2 Lịch sử đo thời tiết
      form(action="", method="GET", class="mb-4 form-search d-flex justify-content-between align-items-center", id="filterForm")
        .form-group
          label(for="temperatureSort") Sắp xếp theo Nhiệt độ
          select#temperatureSort.form-control(name="temperatureSort")
            option(value="none" selected=(temperatureSort === 'none' || temperatureSort === undefined)) Không sắp xếp
            option(value="asc" selected=(temperatureSort === 'asc')) Tăng dần
            option(value="desc" selected=(temperatureSort === 'desc')) Giảm dần
        .form-group
          label(for="humiditySort") Sắp xếp theo Độ ẩm
          select#humiditySort.form-control(name="humiditySort")
            option(value="none" selected=(humiditySort === 'none' || humiditySort === undefined)) Không sắp xếp
            option(value="asc" selected=(humiditySort === 'asc')) Tăng dần
            option(value="desc" selected=(humiditySort === 'desc')) Giảm dần
        .form-group
          label(for="lightSort") Sắp xếp theo Ánh sáng
          select#lightSort.form-control(name="lightSort")
            option(value="none" selected=(lightSort === 'none' || lightSort === undefined)) Không sắp xếp
            option(value="asc" selected=(lightSort === 'asc')) Tăng dần
            option(value="desc" selected=(lightSort === 'desc')) Giảm dần
        .form-group
          label(for="limitSelect") Số bản ghi mỗi trang
          select#limitSelect.form-control(name="limit")
            option(value="10" selected=(limit == 10)) 10
            option(value="25" selected=(limit == 25)) 25
            option(value="50" selected=(limit == 50)) 50
            option(value="100" selected=(limit == 100)) 100
        .form-group
          label(for="dateFilter") Chọn ngày
          input#dateFilter.form-control(type="date", name="dateFilter")
        button.btn.btn-primary#filterButton(type="submit") Lọc
      div#tableWrapper
          include ../partials/weatherTable.pug

    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script(src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js")
    script(src="/js/history2.js")
