doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Bai 5
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/history2.css") 
    link(rel="stylesheet", href="/css/footer.css")
    link(rel="stylesheet", href="/css/header.css")
    link(rel="stylesheet", href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
  body
    include ./header/header.pug
    main#content.wrapper
      .container.mt-5
        div#tableWrapper
          table#sensorTable.table.table-striped
            thead
              tr.filter-row
                th
                th
                  input#temperature.form-control(type="number", name="temperature", step="0.01", placeholder="Nhập nhiệt độ")
                th
                  input#humidity.form-control(type="number", name="humidity", step="0.01", placeholder="Nhập độ ẩm")
                th
                  input#light.form-control(type="number", name="light", step="0.01", placeholder="Nhập ánh sáng")
                th
                  input#windSpeed.form-control(type="number", name="windSpeed", step="0.01", placeholder="Nhập sức gió")
                th
                  input#dateTimeFilter.form-control(type="text", name="dateTimeFilter", placeholder="dd/MM/yyyy hh:mm:ss")
              tr
                th STT
                th Nhiệt độ (°C)
                  button.btn-sort(type="button", onclick="sortTable('temperature', 'asc')") 
                    i.fas.fa-sort-up
                  button.btn-sort(type="button", onclick="sortTable('temperature', 'desc')")
                    i.fas.fa-sort-down
                th Độ ẩm (%)
                  button.btn-sort(type="button", onclick="sortTable('humidity', 'asc')")
                    i.fas.fa-sort-up
                  button.btn-sort(type="button", onclick="sortTable('humidity', 'desc')")
                    i.fas.fa-sort-down
                th Ánh sáng (lux)
                  button.btn-sort(type="button", onclick="sortTable('light', 'asc')")
                    i.fas.fa-sort-up
                  button.btn-sort(type="button", onclick="sortTable('light', 'desc')")
                    i.fas.fa-sort-down
                th Sức gió (m/s)
                  button.btn-sort(type="button", onclick="sortTable('windSpeed', 'asc')")
                    i.fas.fa-sort-up
                  button.btn-sort(type="button", onclick="sortTable('windSpeed', 'desc')")
                    i.fas.fa-sort-down
                th Thời điểm đo
                  button.btn-sort(type="button", onclick="sortTable('createdAt', 'asc')")
                    i.fas.fa-sort-up
                  button.btn-sort(type="button", onclick="sortTable('createdAt', 'desc')")
                    i.fas.fa-sort-down
            tbody

        div.d-flex.justify-content-between.align-items-center.mt-3
          nav
            ul.pagination.mb-0
          .form-group.mb-0
            select#limitSelect.form-control(name="limit")
              option(value="10") 10
              option(value="25") 25
              option(value="50") 50
              option(value="100") 100

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script(src="/js/history3.js")
