body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.container-fluid {
  padding: 20px;
}

.main.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px; /* Thêm khoảng cách từ đầu trang đến thẻ */
}

.card {
  width: 400px;
  margin-bottom: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.info-item {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

.upload-container.text-center {
  margin-bottom: 30px;
}

.link-container.text-center {
  margin-bottom: 30px;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

button.btn {
  margin-top: 10px;
}

a.btn-outline-primary {
  display: inline-block;
  margin-top: 10px;
}
