footer.footer
  .container
    .row
      .col-md-4
        h5 Student
      .col-md-4
        ul.list-unstyled
          li: a(href="/") Home
          li: a(href="/profile") Profile
          li: a(href="/History1") History 1
          li: a(href="/History2") History 2
      .col-md-4
        p Thanh Xuan, Ha Noi
  .text-center
    p © Hayate
