header(class="header")
    nav
      a(href="/" class=active) DashBoard
      a(href="/profile") Profile
      a(href="/devicePage") Action History
      a(href="/weatherPage") Data Sensor1 
      a(href="/weatherPage2") Data Sensor2
